body {
  width: 100%;
  text-shadow: 0 0 5px olivedrab;
  background-color: #1a1616;
  height: 100%;
  font-size: larger;
  color: antiquewhite;
  margin: 0%;
  text-align: center;
}

#topic {
  width: 100%;
  position:relative;
  height: fit-content;
  flex-wrap: wrap;
}

#containt {
  height: fit-content;
}

#projects {
  background-image: url(images/360_F_344673825_6fU6IORyipkYpfU1mg2vmxtHxDToUO6Q.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

li{
  list-style: none;
  display: inline-flex;
}

#contracts {
  box-shadow: 0 0 4px red;
}

#form {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  
}

input {
  background: transparent;
  border: none;
  box-shadow: 0 0 2px wheat;
  height: 1em;
  font-size: 15px;
  color: lavender;
  padding: 1em;
  border-radius: 5px;
}

fieldset input {
  box-shadow: none;
  height: auto;
}

#button {
  padding: auto;
  height: 3em;
}

#button:active {
  box-shadow: 0 0 5px green;
  background: #393131;
  transform: rotate(2deg);
}
a {
  color: aqua;
  text-decoration: none;
}

a:visited {
  color: cadetblue;
}